:root {
    --blue-primary: #17A2B8;
    --blue-secundary: #137281;
}

.menu_top {
    background-color: var(--blue-primary);
}

.brand-text{
    display: inline-block;
}

.content-header {
    color: #4e4e4e;
    background-color: #E9ECEF;
    padding: 8px 12px;
}
.content-header .breadcrumb_custom {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

/* title_custom */
.title_custom h3{
    color: #4e4e4e;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
}

/* card_custom */
.card_custom {
    background-color: var(--blue-secundary);
    color: #fff;
}
.card_custom h3 {
    font-size: 24px;
}
.card_custom span {
    font-size: 48px;
    font-weight: 600;
}

/* modal_custom */
.modal_custom .modal-header{
    background-color: #C4C4C4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal_custom .modal-header .modal-title {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 600;
}

/* form_custom */
.form_custom label{
    color: #4e4e4e;
}
.form_custom input,
.form_custom select,
.form_custom textarea,
.input-group-text {
    border: 2px solid var(--blue-primary);
}
.input-group-text{
    border-right: 0;
}

/* table_custom */
.table_custom thead {
    background-color: #E9ECEF;
    color: #4e4e4e;
}
.table_custom tbody{
    color: #4e4e4e;
}
.table_custom tr td {
    word-wrap:break-word;
}
.btn_table {
    display: flex;
}
.btn_table .btn{
    padding: 0 6px;
}
.btn_table i {
    font-size: 1.2rem;
}
.btn_table i.fa-edit{
    color: #FF7A00;
}
.btn_table i.fa-trash{
    color: #FF0000;
}

/* alerta_custom */
.alerta_custom {
    z-index: 999;
    position: absolute;
    top: 60px;
    right: 5px;
}
/* menssageBox */
.menssageBox li{
    list-style: none;
}

/* nav_btns */
.nav_btns a {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Paginação */
.pagination {
    justify-content: flex-end;
}

#valor_projetado::after {
    content: "R$";
    background-color: #FF7A00;
}